<ion-content>
  <div align="center"><h4>修改密码</h4></div>
  <ion-list class="no-margin">
    <ion-item>
      <ion-label>原密码：</ion-label>
      <ion-input type="password" [(ngModel)]="pswInfo.oldPsw"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>新密码：</ion-label>
      <ion-input type="password" [(ngModel)]="pswInfo.newPsw"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>确认密码：</ion-label>
      <ion-input type="password" [(ngModel)]="pswInfo.confirmPsw"></ion-input>
    </ion-item>
  </ion-list>
  <div class="mr-top-20" align="center">
    <ion-button class="mr-right-20" (click)="confirmModify()" size="small">
      确定
    </ion-button>
    <ion-button (click)="close()" size="small">
      关闭
    </ion-button>
  </div>
</ion-content>