<ion-header>
  <ion-toolbar color="lightPrimary">
    <ion-buttons slot="start">
      <ion-back-button text="返回" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>答题</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen padding scroll-y="false" *ngIf="items">
  <ion-slides [pager]='false' #slide class="my-height banner size-xm" mode="ios" pager="ios" [options]="slideOpts"
    (ionSlideNextEnd)="slideDidChange()">
    <ion-slide *ngFor="let item of items; let key = index">
      <div class='slider-style ' *ngIf='item'>

        <p class="size-sm"><span>{{item.label}}</span>
          <ion-chip outline color="primary" (click)="presentModal(item.index_notes)">
            <ion-label>注释</ion-label>
          </ion-chip>
        </p>
        <p class="size-sm">{{item.description}}</p>
        <ion-list class="item-label size-sm" *ngIf="(item.options && item.options.length>0 )">
          <ion-item *ngFor="let entry of item.options">
            <ion-label *ngIf="entry.topics_type ==='01'">{{entry.topics_content}}</ion-label>
            <ion-input *ngIf="entry.topics_type ==='02'" placeholder="请输入……" [(ngModel)]="entry.topics_content">
            </ion-input>
            <ion-checkbox disabled slot="start" [(ngModel)]="entry.checked" (ionChange)="changeOption(entry,item.id)">
            </ion-checkbox>
          </ion-item>
          <ion-col size="12">
            <ion-radio-group [(ngModel)]="item.approval_status_code">
              <ion-row>
                <ion-col size="6">
                  <ion-item lines="none" class="bgColor">
                    <ion-label>通过</ion-label>
                    <ion-radio [disabled]='showDepartment' slot="start" color="success" value="1"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-item lines="none"  class="bgColor">
                    <ion-label>不通过</ion-label>
                    <ion-radio [disabled]='showDepartment' slot="start" color="danger" value="0"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </ion-col>
          <ion-item *ngIf='showSave'>
            <ion-label position="stacked">审核人批阅</ion-label>
            <ion-textarea [disabled]='showDepartment' [(ngModel)]="leader_review"></ion-textarea>
          </ion-item>
        </ion-list>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="prev()">
        <ion-icon name="arrow-round-back"></ion-icon>
        <ion-label>上一题</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="next()">
        <ion-icon name="arrow-round-forward"></ion-icon>
        <ion-label>下一题</ion-label>
      </ion-tab-button>
      <ion-tab-button *ngIf="!showSave && evaluation_status=='02'" (click)="toNext()">
        <ion-icon name="bookmark"></ion-icon>
        <ion-label>下一步</ion-label>
      </ion-tab-button>
      <ion-tab-button *ngIf='showSave' (click)="saveItem()">
        <ion-icon name="bookmark"></ion-icon>
        <ion-label>保存并上报</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>