.slider-style{
  text-align: start;
  height: 100%;
  width: 100%;
  .item-label{
    .item.sc-ion-label-ios-h, .item .sc-ion-label-ios-h{
      white-space: normal;
    }
  }
}
.my-height{
  height:93%;
  overflow-y:auto;
}