<ion-header>
  <ion-toolbar color="lightPrimary">
    <ion-buttons slot="start">
      <ion-back-button text="返回" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>答题</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen padding scroll-y="false" *ngIf="items">
  <ion-slides [pager]='false' #slide class="banner size-xm" mode="ios" pager="ios" [options]="slideOpts"
    (ionSlideNextEnd)="slideDidChange()">
    <ion-slide *ngFor="let item of items; let key = index">
      <div class='slider-style ' *ngIf='item'>

        <p class="size-sm"><span>{{item.label}}</span>
          <ion-chip outline color="primary" (click)="presentModal(item.index_notes)">
            <ion-label>注释</ion-label>
          </ion-chip>
        </p>
        <p class="size-sm">{{item.description}}</p>
        <ion-list class="item-label size-sm" *ngIf="(item.options && item.options.length>0 )">
          <ion-item *ngFor="let entry of item.options">
            <ion-label *ngIf="entry.topics_type.code ==='01'">{{entry.topics_content}}</ion-label>
            <ion-input *ngIf="entry.topics_type.code ==='02'" placeholder="请输入……" [(ngModel)]="entry.topics_content">
            </ion-input>
            <ion-checkbox disabled slot="start" [(ngModel)]="entry.checked" (ionChange)="changeOption(entry,item.id)">
            </ion-checkbox>
          </ion-item>
          <ion-radio-group>
            <ion-row>
              <ion-col>
                <ion-label>不通过</ion-label>
                <ion-radio slot="start" value="01" [(ngModel)]="item.flag" checked></ion-radio>
              </ion-col>
              <ion-col>
                <ion-label>通过</ion-label>
                <ion-radio slot="start" value="02"></ion-radio>
              </ion-col>

            </ion-row>
            <!-- <ion-item>
              <ion-label>不通过</ion-label>
              <ion-radio value="01" [(ngModel)]="item.flag" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>通过</ion-label>
              <ion-radio value="02"></ion-radio>
            </ion-item> -->
          </ion-radio-group>
        </ion-list>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="prev()">
        <ion-icon name="arrow-round-back"></ion-icon>
        <ion-label>上一题</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="next()">
        <ion-icon name="arrow-round-forward"></ion-icon>
        <ion-label>下一题</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="saveItem()" [routerLink]="['../']" [queryParams]="{companyId:companyId}">
        <ion-icon name="bookmark"></ion-icon>
        <ion-label>保存</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>