<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button text="返回" icon="arrow-back"></ion-back-button>
      </ion-buttons>
      <ion-title>经验分享详情</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content color="grey">
    <div class="section" *ngIf="experience">
      <ion-text color="dark">
        <h5 align="left">{{ experience.title }}</h5>
        <ion-grid>
          <ion-row>
            <ion-col size="8" class="subtitle">{{ experience.publish_unit.name}}</ion-col>
            <ion-col size="4" class="subtitle text-right">{{ experience.publish_time }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <div class="paragraph">{{ experience.share_point }}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-text>
    </div>
    <div class="section mr-top-10" *ngIf="experience && experience.attachments && experience.attachments.length > 0">
      <ion-label color="dark" class="attach-title"><ion-icon name="attach" color="warning"></ion-icon> 相关附件</ion-label>
      <ion-grid>
        <ion-row>
          <ion-col size="4" *ngFor="let item of experience.attachments; let key = index">
            <div class="attach-item">
              <ion-thumbnail slot="start">
                <img src="assets/attach.png">
              </ion-thumbnail>
              <ion-label class="attach-text">{{ item.name }}</ion-label>
              <ion-label class="attach-subtext">{{ item.size }}</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>