<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button text="返回" icon="arrow-back"></ion-back-button>
      </ion-buttons>
      <ion-title>经验分享详情</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content color="grey">
    <div class="section">
      <ion-text color="dark">
        <h5 align="left">关于企业改革的经验分享</h5>
        <ion-grid>
          <ion-row>
            <ion-col size="8" class="subtitle">张三丰</ion-col>
            <ion-col size="4" class="subtitle text-right">2019-10-13</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <div class="paragraph">企业改革企业改革企业改革企业改革企业改革企业改革企业改革企业改革企业改革企业改革企业改革企业改革企业改革企业改革企业改革企业改革企业改革企业改革企业改革企业改革企业改革企业改革企业改革的经验分享。</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-text>
    </div>
    <div class="section mr-top-10">
      <ion-label color="dark" class="attach-title"><ion-icon name="attach" color="warning"></ion-icon> 相关附件</ion-label>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <div class="attach-item">
              <ion-thumbnail slot="start">
                <img src="assets/word.png">
              </ion-thumbnail>
              <ion-label class="attach-text">具体实践文档</ion-label>
              <ion-label class="attach-subtext">18.3K</ion-label>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="attach-item">
              <ion-thumbnail slot="start">
                <img src="assets/excel.png">
              </ion-thumbnail>
              <ion-label class="attach-text">相关资料</ion-label>
              <ion-label class="attach-subtext">1.5M</ion-label>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="attach-item">
              <ion-thumbnail slot="start">
                <img src="assets/ppt.png">
              </ion-thumbnail>
              <ion-label class="attach-text">参考文献</ion-label>
              <ion-label class="attach-subtext">1.1M</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>