.section{
    background-color:#fff;
    padding:10px;
}
.mr-top-10{
    margin-top:10px;
}
//段落
.paragraph{
    text-indent:2em;
    line-height:30px;
    color:#333;
}
.subtitle{
    font-size:13px;
    color:#999;
}
//附件标题
.attach-title{
    font-size:13px;
    color: #999999;
}
//附件列表
.attach-item{
    text-align: center;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
    ion-thumbnail{
        margin:0 auto;
    }
    .attach-text{
        display:block;
        font-size:13px;
        color:#666;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .attach-subtext{
        display:block;
        font-size:12px;
        color:#999;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}