ion-grid{
    --ion-grid-padding: 0;
}
ion-img{
    width: 100%;
    border: none;
}
// 图标列表
.mine-label-title{
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: #4768f3;
    color: #7b7b7b;
    display: block;
    margin-bottom: .7rem;
    padding-left: 10px;
}
.mine-icon-label{
    color: #b6b6b6;
    display: block;
    font-size: 13px;
    margin-top: .5rem;
}
a{
    padding-left: 0;
    padding-right: 0;
}