<ion-header>
  <ion-toolbar color="lightPrimary">
    <ion-title>工作台</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="grey">
  <div class="mine-item">
    <ion-img src="./assets/banner.jpg"></ion-img>
  </div>
  <div class="mine-item padding-top-10 padding-bottom-5">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12"> <ion-label class="mine-label-title">学习交流</ion-label> </ion-col>
        <ion-col class="col-20 text-center ion-align-self-center" [routerLink]="['/tabs/notice']">
          <div class="mine-icon-circle bg-yellow">
            <ion-img class="mine-icon-img" src="./assets/notice.png" alt=""></ion-img>
          </div>
          <ion-label class="mine-icon-label">公告通知</ion-label>
        </ion-col>
        <ion-col class="col-20 text-center ion-align-self-center"  [routerLink]="['/experience']">
          <div class="mine-icon-circle bg-cyan">
            <ion-img class="mine-icon-img" src="./assets/experience.png" alt=""></ion-img>
          </div>
          <ion-label class="mine-icon-label">经验分享</ion-label>
        </ion-col>
        <ion-col class="col-20 text-center ion-align-self-center" [routerLink]="['/case']">
          <div class="mine-icon-circle bg-brightBlue">
            <ion-img class="mine-icon-img" src="./assets/case.png" alt=""></ion-img>
          </div>
          <ion-label class="mine-icon-label">案例分析</ion-label>
        </ion-col>
        <ion-col class="col-20 text-center ion-align-self-center" [routerLink]="['/improvement-plan']">
          <div class="mine-icon-circle bg-lightRed" style="padding: 5px;">
            <ion-img class="mine-icon-img" src="./assets/improvement-plan.png" alt=""></ion-img>
          </div>
          <ion-label class="mine-icon-label">改善方案</ion-label>
        </ion-col>
        <ion-col class="col-20 text-center ion-align-self-center" [routerLink]="['/internal-communication']" [queryParams]="{title:'内部交流'}">
          <div class="mine-icon-circle bg-orange" style="padding: 3px;">
            <ion-img class="mine-icon-img" src="./assets/internal-communication.png" alt=""></ion-img>
          </div>
          <ion-label class="mine-icon-label">内部交流</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="mine-item padding-top-10 padding-bottom-5">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12"> <ion-label class="mine-label-title">规范评价</ion-label> </ion-col>
        <ion-col *ngIf="role == 'QYTBY'" class="col-20 text-center ion-align-self-center" [routerLink]="['/company-assess']">
          <div class="mine-icon-circle bg-lightRed">
            <ion-img class="mine-icon-img" src="./assets/company-assess.png" alt=""></ion-img>
          </div>
          <ion-label class="mine-icon-label">企业自评</ion-label>
        </ion-col>
        <ion-col *ngIf="role == 'QYBMLD'" class="col-20 text-center ion-align-self-center" [routerLink]="['/department-check']">
          <div class="mine-icon-circle bg-lightRed">
            <ion-img class="mine-icon-img" src="./assets/leader-check.png" alt=""></ion-img>
          </div>
          <ion-label class="mine-icon-label">部门审核</ion-label>
        </ion-col>
        <ion-col *ngIf="role == 'QYFGLD'" class="col-20 text-center ion-align-self-center" [routerLink]="['/leader-check']">
          <div class="mine-icon-circle bg-lightRed" style="padding: 8px;">
            <ion-img class="mine-icon-img" src="./assets/department-check.png" alt=""></ion-img>
          </div>
          <ion-label class="mine-icon-label">领导审核</ion-label>
        </ion-col>
        <ion-col *ngIf="role == 'QYTBY' || role == 'QYBMLD' || role == 'QYFGLD'" class="col-20 text-center ion-align-self-center" [routerLink]="['/overall-evaluation']">
          <div class="mine-icon-circle bg-brightBlue" style="padding: 5px;">
            <ion-img class="mine-icon-img" src="./assets/overall-evaluation.png" alt=""></ion-img>
          </div>
          <ion-label class="mine-icon-label">综合评价</ion-label>
        </ion-col>
        <ion-col *ngIf="role == 'ZJTYWBM' || role == 'JTYWBM'" class="col-20 text-center ion-align-self-center" [routerLink]="['/monitor-evaluation']">
          <div class="mine-icon-circle bg-brightBlue">
            <ion-img class="mine-icon-img" src="./assets/monitor-evaluation.png" alt=""></ion-img>
          </div>
          <ion-label class="mine-icon-label">监控评价</ion-label>
        </ion-col>
        <ion-col *ngIf="role == 'ZJTLD' || role == 'JTLD'" class="col-20 text-center ion-align-self-center" [routerLink]="['/leader-review']">
          <div class="mine-icon-circle bg-brightBlue" style="padding: 4px;">
            <ion-img class="mine-icon-img" src="./assets/leader-review.png" alt=""></ion-img>
          </div>
          <ion-label class="mine-icon-label">领导阅评</ion-label>
        </ion-col>
        <ion-col *ngIf="role != 'QYTBY' && role == 'QYBMLD' && role == 'QYFGLD'" class="col-20 text-center ion-align-self-center" [routerLink]="['/expert-review']">
          <div class="mine-icon-circle bg-brightBlue">
            <ion-img class="mine-icon-img" src="./assets/expert-review.png" alt=""></ion-img>
          </div>
          <ion-label class="mine-icon-label">专家阅评</ion-label>
        </ion-col>
        <ion-col *ngIf="role != 'QYTBY'" class="col-20 text-center ion-align-self-center" [routerLink]="['/company-assess']">
          <div class="mine-icon-circle bg-orange">
            <ion-img class="mine-icon-img" src="./assets/view-self-evaluation.png" alt=""></ion-img>
          </div>
          <ion-label class="mine-icon-label">自评查看</ion-label>
        </ion-col>
        <ion-col class="col-20 text-center ion-align-self-center" [routerLink]="['/show-highlight']">
          <div class="mine-icon-circle bg-yellow" style="padding: 3px;">
            <ion-img class="mine-icon-img" src="./assets/show-highlight.png" alt=""></ion-img>
          </div>
          <ion-label class="mine-icon-label">亮点展示</ion-label>
        </ion-col>
        <ion-col *ngIf="role != 'JTYWBM' && role != 'JTLD' && role != 'ZJ'" class="col-20 text-center ion-align-self-center" [routerLink]="['/message-interaction']">
          <div class="mine-icon-circle bg-cyan">
            <ion-img class="mine-icon-img" src="./assets/message-interaction.png" alt=""></ion-img>
          </div>
          <ion-label class="mine-icon-label">留言互动</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="mine-item padding-top-10 padding-bottom-5">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12"> <ion-label class="mine-label-title">评价考核</ion-label> </ion-col>
        <ion-col class="col-20 text-center ion-align-self-center" [routerLink]="['/evaluation-index']">
          <div class="mine-icon-circle bg-orange">
            <ion-img class="mine-icon-img" src="./assets/evaluation-index.png" alt=""></ion-img>
          </div>
          <ion-label class="mine-icon-label">评价指标</ion-label>
        </ion-col>
        <ion-col class="col-20 text-center ion-align-self-center" [routerLink]="['/evaluation-model']">
          <div class="mine-icon-circle bg-cyan">
            <ion-img class="mine-icon-img" src="./assets/evaluation-model.png" alt=""></ion-img>
          </div>
          <ion-label class="mine-icon-label">评价模型</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
