.mine-item{
    color: #000;
    ion-slides{
        height: 10rem;
        ion-slide{
            display: -webkit-box;
            -webkit-box-orient: horizontal;
            .slide-item{
                color: #000;
                -webkit-box-flex: 1;
                height: 100%;
                line-height: 10rem;
                border-right: 1px dashed #ccc;
                &:last-child{
                    border: none;
                }
            }
        }
    }
    .mine-section{
        width: 100%;
        height: 100px;
        background: red;
        text-align: center;
        p{
            height: 50%;
            line-height: 50px;
            font-size: .9rem;
            margin: 0;
            &:first-child{
                font-size: 1.5rem;
                font-weight: bold;
                line-height: 72px;
            }
        }
    }
    .mine-section-item{
        width: 100%;
        height: 45px;
        background: red;
        line-height: 45px;
        font-size: .9rem;
        padding: 0 10px;
        &:last-child{
            margin-top: 10px;
        }
    }
}
