<ion-content class="grey" color="grey">
    <div class="mine-item padding-top-10 padding-bottom-5 no-padding">
      <ion-slides #slide mode="ios" pager="ios" [options]="slideOpts" (ionSlideTouchEnd)="touchEnd()">
        <ion-slide>
          <div class="slide-item">
            自评个数：{{ slides[0].self }}
          </div>
          <div class="slide-item">
            部门审核：{{ slides[0].department }}
          </div>
          <div class="slide-item">
            领导审核：{{ slides[0].leader }}
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide-item">
            业务部门：{{ slides[1].department }}
          </div>
          <div class="slide-item">
            领导：{{ slides[1].leader }}
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide-item">
            业务部门：{{ slides[2].department }}
          </div>
          <div class="slide-item">
            领导：{{ slides[2].leader }}
          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <!-- 公告通知 -->
    <div class="mine-item padding-bottom-5">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12" class="title-pos"> 
            <ion-label class="mine-section-title">公告通知</ion-label> 
            <span class="more">更多</span>
          </ion-col>
          <ion-col size="2"> 
            <div class="mine-section linear-lightViolet">111</div>
          </ion-col>
          <ion-col size="10"> 
            <ion-slides class="noticeSlide" #noticeSlide mode="ios" [pager]="false" [options]="noticeOpts" (ionSlideTouchEnd)="touchEnd()">
              <ion-slide>
                <div class="slide-item">
                  公告通知公告通知公告通知公告通知1
                </div>
              </ion-slide>
              <ion-slide>
                <div class="slide-item">
                  公告通知公告通知公告通知公告通知公告通知公告通知公告通知2
                </div>
              </ion-slide>
              <ion-slide>
                <div class="slide-item">
                  公告通知公告通知公告通知公告通知公告通知公告通知公告通知3
                </div>
              </ion-slide>
            </ion-slides>
          </ion-col>
        </ion-row>  
      </ion-grid>
    </div>
    <!-- 自评结果 -->
    <div class="mine-item padding-bottom-5">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12" class="title-pos"> 
            <ion-label class="mine-section-title">自评结果</ion-label> 
            <span class="more">更多</span>
          </ion-col>
          <ion-col size="4">
            <div class="mine-section linear-lightViolet">
              <p>{{ selfEvaluations.level }}</p>
              <p>当前等级</p>
            </div>
          </ion-col>
          <ion-col size="8">
            <div class="mine-section-item linear-lightViolet">
              当前得分：<span>{{ selfEvaluations.score }}</span>
            </div>
            <div class="mine-section-item linear-lightViolet">
              最近评价时间：{{ selfEvaluations.time }}
            </div>
          </ion-col>
        </ion-row>  
      </ion-grid>
    </div>
    <!-- 亮点推荐 -->
    <div class="mine-item padding-bottom-5">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12" class="title-pos"> 
            <ion-label class="mine-section-title">亮点推荐</ion-label> 
            <span class="more">更多</span>
          </ion-col>
          <ion-col size="6">
            <div class="mine-section mini linear-lightViolet">
              <ion-row>
                <ion-col size="5">111</ion-col>
                <ion-col size="7">集团推荐</ion-col>
              </ion-row>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="mine-section mini linear-lightViolet">
              <ion-row>
                <ion-col size="5">111</ion-col>
                <ion-col size="7">子集团推荐</ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>  
      </ion-grid>
    </div>
    <!-- 亮点推荐 -->
    <div class="mine-item padding-bottom-5">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12" class="title-pos"> 
            <ion-label class="mine-section-title">亮点推荐</ion-label> 
            <span class="more">更多</span>
          </ion-col>
          <ion-col size="6">
            <div class="mine-section mini linear-lightViolet">
              <ion-row>
                <ion-col size="5">111</ion-col>
                <ion-col size="7">集团推荐</ion-col>
              </ion-row>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="mine-section mini linear-lightViolet">
              <ion-row>
                <ion-col size="5">111</ion-col>
                <ion-col size="7">子集团推荐</ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>  
      </ion-grid>
    </div>
  </ion-content>
  