<ion-tabs>

  <ion-tab-bar slot="bottom" #myTabBar id="myTabBar">
    <ion-tab-button tab="index">
      <ion-icon name="home"></ion-icon>
      <ion-label>首页</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notice">
      <ion-icon name="paper"></ion-icon>
      <ion-label>公告通知</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="workbench">
      <ion-icon name="apps"></ion-icon>
      <ion-label>工作台</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mine">
        <ion-icon name="person"></ion-icon>
        <ion-label>我的</ion-label>
      </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
