<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>公告通知</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="grey">
  <div class="section" *ngIf="notice">
    <ion-text color="dark">
      <h5 align="left">{{ notice.title }}</h5>
      <ion-grid>
        <ion-row>
          <ion-col size="8" class="subtitle">{{ notice.publish_unit.name }}</ion-col>
          <ion-col size="4" class="subtitle text-right">{{ notice.publish_time }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="paragraph">{{ notice.content }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-text>
  </div>
  <div class="section mr-top-10" *ngIf="notice && notice.attachment">
    <ion-label color="dark" class="attach-title"><ion-icon name="attach" color="warning"></ion-icon> 相关附件</ion-label>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <div class="attach-item">
            <ion-thumbnail slot="start">
              <img src="assets/attach.png">
            </ion-thumbnail>
            <ion-label class="attach-text">{{ notice.attachment.name }}</ion-label>
            <ion-label class="attach-subtext">{{ notice.attachment.size }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>