<ion-header>
  <ion-toolbar color="lightPrimary">
    <ion-title>我的</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="grey">
  <div class="section" *ngIf="user">
    <ion-item lines="none">
      <ion-avatar class="avatar-lg mr-right-20">
        <img src="assets/defaultHeadPortrait.png">
      </ion-avatar>
      <ion-label color="dark">
        <h3>{{ user.personName }}<span class="grey">（角色名称）</span></h3>
        <p class="grey">{{ user.subordinateOrgName }}</p>
        <p class="grey">{{ user.mail }}</p>
      </ion-label>
    </ion-item>
  </div>
  <div class="section mr-top-10 no-padding">
    <ion-list class="no-margin">
      <ion-item detail class="ion-text-nowrap" [routerLink]="['/internal-communication']" [queryParams]="{title:'我的主题'}">
        <ion-img slot="start" class="ion-list-img" src="assets/topic.png"></ion-img>
        <ion-label>
          我的主题
        </ion-label>
      </ion-item>
      <!-- <ion-item detail class="ion-text-nowrap" [routerLink]="['/internal-communication']" [queryParams]="{title:'我的回复'}">
        <ion-img slot="start" class="ion-list-img" src="assets/reply.png"></ion-img>
        <ion-label>
          我的回复
        </ion-label>
      </ion-item>
      <ion-item detail class="ion-text-nowrap" [routerLink]="['./myreport']">
        <ion-img slot="start" class="ion-list-img" src="assets/fillin.png"></ion-img>
        <ion-label>
          我的填报
        </ion-label>
      </ion-item>
      <ion-item detail class="ion-text-nowrap" lines="none" [routerLink]="['./myreport']">
        <ion-img slot="start" class="ion-list-img" src="assets/review.png"></ion-img>
        <ion-label>
          我的阅评
        </ion-label>
      </ion-item> -->
    </ion-list>
  </div>
  <div class="section mr-top-10 no-padding">
    <ion-item lines="none" (click)="logout()">
      <ion-label align="center">退出登录</ion-label>
    </ion-item>
    <!-- <ion-item detail class="ion-text-nowrap" lines="none" [routerLink]="['./setup']">
      <ion-img class="ion-list-img" src="assets/config.png"></ion-img>
      <ion-label>
        设置
      </ion-label>
    </ion-item> -->
  </div>
</ion-content>
