<ion-header>
  <ion-toolbar color="lightPrimary">
    <ion-title>我的</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="grey">
  <div class="section">
      <ion-item lines="none">
        <ion-avatar class="avatar-lg mr-right-20">
          <img src="assets/defaultHeadPortrait.png">
        </ion-avatar>
        <ion-label color="dark">
          <h3>奚萍<span class="grey">（填报员）</span></h3>
          <p class="grey">中国兵器工业信息中心</p>
          <p class="grey">智慧运营部</p>
        </ion-label>
      </ion-item>
  </div>
  <div class="section mr-top-10 no-padding">
    <ion-list class="no-margin">
      <ion-item detail class="ion-text-nowrap">
        <ion-img slot="start" class="ion-list-img" src="assets/topic.png"></ion-img>
        <ion-label>
          我的主题我的主题我的主题我的主题我的主题我的主题我的主题我的主题
        </ion-label>
      </ion-item>
      <ion-item detail class="ion-text-nowrap">
        <ion-img slot="start" class="ion-list-img" src="assets/reply.png"></ion-img>
        <ion-label>
          我的回复
        </ion-label>
      </ion-item>
      <ion-item detail class="ion-text-nowrap" lines="none">
        <ion-img slot="start" class="ion-list-img" src="assets/fillin.png"></ion-img>
        <ion-label>
          我的填报
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div class="section mr-top-10 no-padding">
    <ion-item detail class="ion-text-nowrap" lines="none" [routerLink]="['./setup']">
      <ion-img class="ion-list-img" src="assets/config.png"></ion-img>
      <ion-label>
        设置
      </ion-label>
    </ion-item>
  </div>
</ion-content>
