<ion-header>
  <ion-toolbar color="lightPrimary">
    <ion-buttons slot="start">
      <ion-back-button text="返回" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>企业自评</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="grey">
  <div class="mr-top-10 no-padding-top">
    <ion-list lines="full" *ngIf="assess && assess.length > 0">
      <ion-item *ngFor="let item of assess; let key = index" detail [routerLink]="['./addAssess']"
        [queryParams]="{companyId:item.id,title:'editor'}">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
              <span class="size-sm grey">子集团/直管单位：{{ (item.unit && item.unit.group && item.unit.group.name) ? item.unit.group.name:'' }}</span>
            </ion-col>
            <ion-col size="12">
              <span class="size-sm grey">单位名称：{{ (item.unit && item.unit.name) ? item.unit.name:'' }}</span>
            </ion-col>
            <ion-col size="12">
              <span class="size-sm grey">认定自评等级：{{item.evaluation_level.name}}</span>
            </ion-col>
            <ion-col size="12">
              <span class="size-sm grey">自评得分：{{item.self_score}}</span>
            </ion-col>
            <ion-col size="12">
              <span class="size-sm grey">当前状态：{{item.evaluation_status.name}}</span>
            </ion-col>
            <ion-col size="12">
              <span class="size-sm grey">自评时间：{{item.evaluation_date}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" class="no-margin" [routerLink]="['./addAssess']" [queryParams]="{title:'new'}">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>