<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>主题详情</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="grey">
  <div class="section" *ngIf="topic">
    <ion-text color="dark">
      <h5 align="left">{{ topic.exchange_proceeding}}</h5>
      <ion-grid class="no-padding">
        <ion-row>
          <ion-col size="8" class="subtitle">{{ topic.publish_unit.name }}</ion-col>
          <ion-col size="4" class="subtitle text-right">{{ topic.publish_time }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="paragraph">{{ topic.exchange_content }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-text>
  </div>
  <div class="section no-padding mr-top-10">
    <ion-item lines="full" class="bordered-bottom">
      <ion-label class="subtitle">评论<span class="mr-left-10">1500</span></ion-label>
      <ion-label slot="end" class="grey subtitle" align="right">访问<span class="mr-left-10">5000</span></ion-label>
    </ion-item>
  </div>
  <div class="section no-padding">
    <ion-list class="no-margin" *ngIf="comments && comments.length > 0">
      <ion-item lines="none" *ngFor="let item of comments; let key = index">
        <ion-avatar class="mr-right-10">
          <img [src]="item.img_url">
        </ion-avatar>
        <ion-label>
          <h6 class="grey">{{ item.creator.name }}</h6>
          <p>{{ item.content }}</p>
          <h6 class="grey">{{ item.create_time }}</h6>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div class="section">
    <ion-item lines="none" class="comment-box">
      <ion-textarea [(ngModel)]="content" rows="3" cols="20" clearOnEdit="true" placeholder="写评论..."></ion-textarea>
    </ion-item>
    <div class="text-right mr-top-5">
      <ion-button size="small" fill="outline" (click)="comment()">
        评论
      </ion-button>
    </div>
  </div>
</ion-content>