<ion-header>
  <ion-toolbar color="lightPrimary">
    <ion-buttons slot="start">
      <ion-back-button text="返回" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>领导审核详情</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="grey">
  <div class="section" *ngIf="indicator_name">
    <ion-label class="lightgrey size-sm">
      <span>{{ indicator_name }} （{{ level_name }}）</span>
    </ion-label>
  </div>
  <ion-list class="bg-LightGrey" *ngIf="topics">
    <ion-item class="mr-top-10" lines="none" *ngFor="let item of topics; let key = index">
      <ion-label class="no-margin">
        <div class="list-item">{{ item.label }}</div>
        <div *ngIf="item.children != undefined" class="dropdown-list">
          <div class="dropdown-list-item" *ngFor="let i of item.children;let k = index">
            <div class="list-item">{{ i.label }}</div>
            <div *ngIf="i.children != undefined" class="dropdown-list">
              <div class="dropdown-list-item" *ngFor="let j of i.children;let inx = index">
                <div class="list-item">{{ j.label }}</div>
                <div class="ion-text-wrap size-sm">{{ j.description}}</div>
                <ion-list *ngIf="j.options && j.options.length > 0" class="no-margin">
                  <ion-item lines="none" *ngFor="let k of j.options;let idx = index">
                    <ion-label class="ion-text-wrap">{{ k.topics_content }}</ion-label>
                    <ion-checkbox slot="start" color="primary" *ngIf="k.topics_type && k.topics_type.code && k.topics_type.code == '01'"></ion-checkbox>
                  </ion-item>
                </ion-list>
              </div>
            </div>
          </div>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
