// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
.ion-color-grey {
  // base 基本颜色
  --ion-color-base: #f7f7f7;
  --ion-color-base-rgb: 105, 187, 123;
  // contrast 对比颜色
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  // shade 阴影颜色
  --ion-color-shade: #f7f7f7;
  // tint 色调
  --ion-color-tint: #f7f7f7;
}
.ion-color-lightPrimary {
  // base 基本颜色
  --ion-color-base: #4768f3;
  --ion-color-base-rgb: 71, 104, 243;
  // contrast 对比颜色
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  // shade 阴影颜色
  --ion-color-shade: #3171e0;
  // tint 色调
  --ion-color-tint: #4c8dff;
}
/*  App内自定义样式  */

/*  基础颜色  */

.grey{
  color: #999999 !important;
}
.darkgrey{
  color:#666666 !important;
}
.lightgrey{
  color:#cccccc !important;
}

/* 字符间距 */
.letter-spacing-2em{
  letter-spacing: 2em;
  margin-right: -2em;
}
.letter-spacing-05em{
  letter-spacing: 0.5em;
  margin-right: -0.5em;
}

/*超过长度显示省略号*/
.text_overflow{
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*不显示省略号*/
.no_text_overflow{
  white-space: normal !important;
}
/*  重置原有样式  */

// 移除ion-list的背景颜色
.list-ios-lines-full,
.list-md-lines-full{
    background: none;
}
// 移除ion-item的边框
.list-ios-lines-full .item,
.list-md-lines-full .item{
    --border-width: 0.55px;
    --border-color: #f0f0f0;
    margin-bottom: 10px;
  
}
.list-ios-lines-full .item:last-child,
.list-md-lines-full .item:last-child{
    margin-bottom: 0;
}
// 重写button的border-radius
ion-button {
  --border-radius: 5px;
}
// 淡青色
.bg-cyan{
  background: #4ec7ff;
}
// 黄色
.bg-yellow{
  background: #ffc63d;
}
// 暗红色
.bg-red{
  background: #d83e3e;
}
// 浅红色
.bg-lightRed{
  background: #f35b47;
}
// 橘色
.bg-orange{
  background: #fcac6d;
}
// 亮蓝色
.bg-brightBlue{
  background: #4c8dff;
}
// 天蓝色
.bg-skyBlue{
  background: #4ec7ff;
}
// 浅灰色
.bg-LightGrey{
  background: #F7F7F7;
}
// 紫色渐变
.linear-Violet{
  background: #635df5 linear-gradient(-90deg, #b657e9, #635df5) !important;
  color: #fff !important;
}
.linear-Violets{
  background: #b657e9 linear-gradient(-90deg, #635df5, #b657e9) !important;
  color: #fff !important;
}
// 浅紫色渐变
.linear-lightViolet{
  background: #9ee0fb linear-gradient(-90deg, #a4adf9, #9ee0fb) !important;
  color: #fff !important;
}
.linear-lightViolets{
  background: #9ee0fb linear-gradient(-90deg, #9ee0fb, #a4adf9) !important;
  color: #fff !important;
}
// 浅绿色渐变
.linear-lightGreen{
  background: #7febd2 linear-gradient(-90deg, #6d7df6, #7febd2) !important;
  color: #fff !important;
}
.linear-lightGreens{
  background: #6d7df6 linear-gradient(-90deg, #7febd2, #6d7df6) !important;
  color: #fff !important;
}
// 橘色渐变
.linear-orange{
  background: #f5c577 linear-gradient(-90deg, #f09563, #f5c577) !important;
  color: #fff !important;
}
/*  重置原有样式  */

// 移除ion-list的背景颜色
.list-ios-lines-full,
.list-md-lines-full{
    background: none;
}
// 移除ion-item的边框
.list-ios-lines-full .item,
.list-md-lines-full .item{
    --border-width: 0.55px;
    --border-color: #f0f0f0;
    margin-bottom: .5rem;
  
}
.list-ios-lines-full .item:last-child,
.list-md-lines-full .item:last-child{
    margin-bottom: 0;
}
// 修改底部导航选中颜色
ion-tab-button{
  --color: #b6b6b6;
  --color-selected:#4768f3;
}
/*  内外边距  */
.no-margin{
  margin:0 !important;
}
.no-padding{
  padding:0 !important;
}
.no-padding-top{
  padding-top:0 !important;
}
.mr-top-5{
  margin-top:5px;
}
.mr-top-10{
  margin-top:10px;
}
.mr-top-20{
  margin-top:20px;
}
.mr-bottom-10{
  margin-bottom:10px !important;
}
.mr-right-10{
  margin-right:10px;
}
.mr-right-20{
  margin-right:20px;
}
.mr-left-5{
  margin-left:5px;
}
.mr-left-10{
  margin-left:10px;
}
.mr-left-50{
  margin-left:50px;
}
.no-padding{
  padding:0 !important;
}
.no-padding-bottom{
  padding-bottom:0 !important;
}
.padding-10{
  padding:10px;
}
.padding-top-5{
  padding-top: 5px;
}
.padding-bottom-5{
  padding-bottom: 5px;
}
.padding-top-10{
  padding-top: 10px;
}
.padding-bottom-10{
  padding-bottom: 10px;
}
/*  边框   */
.bordered{
  border: 1px solid #eeeeee;
}
.bordered-bottom{
  border-bottom: 1px solid #eeeeee;
}
/*   字体大小  */
.size-xs{
  font-size:12px !important;
}
.size-sm{
  font-size:14px !important;
}
/*  布局  */

.pull-right{
  float: right;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align:left;
}
.text-right{
  text-align:right;
}
/*  栅格化布局  */

.col-20{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 20%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 %20;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
}

/*  自定义样式  */
//大头像
.avatar-lg{
  width:60px;
  height: 60px;
}
.time{
  font-size: 1rem;
}
// 单条数据
.mine-item{
  width: 100%;
  height: auto;
  background: white;
  border: 0.55px #f0f0f0 solid;
  margin-bottom: .5rem;
}
// 图标列表
.mine-label-title{
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #4768f3;
  color: #7b7b7b;
  display: block;
  margin-bottom: .7rem;
  padding-left: 10px;
}
.mine-icon-label{
  color: #b6b6b6;
  display: block;
  font-size: 13px;
  margin-top: .5rem;
}
a{
  padding-left: 0;
  padding-right: 0;
}

//部分
.section{
    background-color:#fff;
    padding:10px;
}
//段落
.paragraph{
    text-indent:2em;
    line-height:24px;
    font-size:15px;
    color:#333;
}
//带图标的标题
.subtitle{
    font-size:13px !important;
    color:#999999 !important;
}
//附件标题
.attach-title{
    font-size:13px;
    color: #999999;
}
//附件列表
.attach-item{
    text-align: center;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
    ion-thumbnail{
        margin:0 auto;
    }
    .attach-text{
        display:block;
        font-size:13px;
        color:#666;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .attach-subtext{
        display:block;
        font-size:12px;
        color:#999;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

//我的列表图片
.ion-list-img{
  width:20px;
  height:20px;
  margin-right: 15px;
}
.item-native .item-inner{
  border-bottom-color:#eee;
}
// 图标列表
.mine-icon-circle{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  padding: 7px;
  margin-left: calc((100% - 2.5rem) / 2);
  .mine-icon-img{
    width: 100%;
    height: 100%;
  }
}
//我的主题列表
.item-foot{
  font-size:13px;
  color:#666666;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
//评论
.comment-box{
  border:1px solid #eeeeee;
  border-radius:5px;
  font-size:13px;
}
//案例分析
.item-title:before{
  display: inline-block;
  content: "";
  width: 3px;
  height: 14px;
  background-color: blue;
  position: absolute;
  top: 14px;
  left: 5px;
  z-index: 1;
}
// 多层列表
.list-item{
  height:44px;
  line-height: 44px;
}
.dropdown-list{
  padding-left: 10px;
}
.dropdown-list-item{
  // height:44px;
  // line-height: 44px;
}
.full-width{
  width:100%;
}
.index-title-center{
  color: #7b7b7b;
  display: block;
  margin-bottom: 0.7rem;
}