// 设置搜索框样式
ion-searchbar{
    padding: 15px;
    height: 40px;
    margin-top:10px;
    margin-bottom: 10px;
}
ion-grid{
    --ion-grid-padding: 0 5px 0 5px;
}
// ion-label不进行超出省略
.item.sc-ion-label-ios-h, .item .sc-ion-label-ios-h,
.item.sc-ion-label-md-h, .item .sc-ion-label-md-h{
    text-overflow: inherit;
    white-space: inherit;
}
.button-small{
    --padding-top: 0;
    --padding-start: 0.9em;
    --padding-end: 0.9em;
    --padding-bottom: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

// 时间
.time{
    line-height: 2.5em;
    font-size: .9em;
}