<ion-content>
  <ion-avatar class="logo">
      <!-- <img src="assets/image/head_default.jpg"> -->
  </ion-avatar>
  <ion-list>
      <ion-item>
          <ion-label>用户名：</ion-label>
          <ion-input type="text" placeholder="由字母、数字、下划线组成" maxlength="25" debounce = '1000'
          [(ngModel)]="username" (ionChange)="validate(1)"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>密&emsp;码：</ion-label>
          <ion-input type="password" placeholder="6-20位数字或字母" minlength="6" maxlength="20" debounce = '1000'
          [(ngModel)]="password" (ionChange)="validate(2)"></ion-input>
      </ion-item>
  </ion-list>
  <ion-button class="login" (click)="onLogin()" color="primary" fill="solid" size="default" type="button" expand="block" [disabled]='!status'> 
    登录
  </ion-button>
  <ion-button (click)="toRegister()" class="register" color="primary" fill="clear" size="default" type="button" expand="block"> 
    注册
  </ion-button>
</ion-content>