.slider-style{
  text-align: start;
  height: 100%;
  width: 100%;
  // background-color: antiquewhite;
  .item-label{
    .item.sc-ion-label-ios-h, .item .sc-ion-label-ios-h{
      white-space: normal;
    }
  }
}