<ion-header>
  <ion-toolbar color="lightPrimary">
    <ion-buttons slot="start">
      <ion-back-button text="返回" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>答题</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen padding scroll-y="false" *ngIf="items" >
  <ion-slides  #slide class="banner size-xm" mode="ios" pager="ios" [options]="slideOpts" (ionSlideNextEnd)="slideDidChange()">
    <ion-slide *ngFor = "let item of items; let key = index">
      <div class = 'slider-style' *ngIf='item'>        
        
        <p *ngIf='item.indicator' class="size-sm"><span>{{item.indicator.index_num}}</span>{{item.indicator.index_name}} 
        <ion-chip outline color="primary" (click)="presentModal(item.indicator.index_notes)">
          <ion-label>注释</ion-label>
        </ion-chip></p>
        <p class="size-sm">{{item.topics_describe}}</p>
        <ion-list class="item-label size-sm" *ngIf ="item.options">
          <ion-item *ngFor="let entry of item.options">
            <ion-label *ngIf="entry.topics_type.code ==='01'">{{entry.topics_content}}</ion-label>
            <ion-input *ngIf="entry.topics_type.code ==='02'"  placeholder="请输入……" [(ngModel)]="entry.topics_content"></ion-input>
            <ion-checkbox slot="start" [(ngModel)]="entry.flag" (ionChange)="aa(entry, item.id)"></ion-checkbox>
          </ion-item>
        </ion-list>
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>上一题</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="speakers" (click)="next()">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>下一题</ion-label>
      </ion-tab-button>

     
    </ion-tab-bar>
  </ion-tabs>
</ion-content>