<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>改善方案详情</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="grey">
  <div class="section" *ngIf="improvement">
    <ion-item lines="none" class="item-title">
      <ion-label>
        <h2 class="mr-bottom-10">{{ improvement.title }}</h2>
        <p>填报单位：{{ improvement.publish_unit.name }}</p>
        <p>发布者：{{ improvement.publish_people.name }}</p>
        <p>发布时间：{{ improvement.publish_time }}</p>
        <p>关键字：{{ improvement.keywords }}</p>
      </ion-label>
    </ion-item>
  </div>
  <div class="section mr-top-10 no-padding-top" *ngIf="improvement">
    <div class="padding-top-10">
      <ion-segment [(ngModel)] = "planTabValue" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="improveContent" checked>
          <ion-label>改善内容</ion-label>
        </ion-segment-button>
        <ion-segment-button value="highlights">
          <ion-label>亮点突出</ion-label>
        </ion-segment-button>
        <ion-segment-button value="caseAttach">
          <ion-label>相关附件</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <div class="paragraph mr-top-10" *ngIf=" planTabValue == 'improveContent'">
      {{ improvement.improve_content }}
    </div>
    <div class="paragraph mr-top-10" *ngIf=" planTabValue == 'highlights'">
      {{ improvement.highlight }}
    </div>
    <div *ngIf=" planTabValue == 'caseAttach'">
      <ion-grid *ngIf="improvement && improvement.attachments && improvement.attachments.length > 0">
        <ion-row>
          <ion-col size="4" *ngFor="let item of improvement.attachments; let key = index">
            <div class="attach-item">
              <ion-thumbnail slot="start">
                <img src="assets/attach.png">
              </ion-thumbnail>
              <ion-label class="attach-text">{{ item.name }}</ion-label>
              <ion-label class="attach-subtext">{{ item.size }}</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
