<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>领导阅评详情</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="grey">
  <ion-list lines="full" class="no-margin" *ngIf="selfEvaluation">
    <ion-item>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <span>子集团/直管单位：</span>
            <span>{{ selfEvaluation.unit.group.name }}</span>
          </ion-col>
          <ion-col size="12">
            <span>单位名称：</span>
            <span>{{ selfEvaluation.unit.name }}</span>
          </ion-col>
          <ion-col size="12">
            <span>所属板块：</span>
            <span>{{ selfEvaluation.subordinate_plate }}</span>
          </ion-col>
          <ion-col size="12">
            <span>认定自评等级：</span>
            <span>{{ selfEvaluation.questionnaire.evaluation_level.name }}</span>
          </ion-col>
          <ion-col size="12">
            <span>自评得分：</span>
            <span>{{ selfEvaluation.self_score }}</span>
          </ion-col>
          <ion-col size="12">
            <span>自评时间：</span>
            <span>{{ selfEvaluation.evaluation_date }}</span>
          </ion-col>
          <ion-col size="12">
            <span>主要亮点：</span>
            <span>{{ selfEvaluation.main_highlight }}</span>
          </ion-col>
          <ion-col size="12">
            <span>主要不足：</span>
            <span>{{ selfEvaluation.major_deficiency }}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <div class="section mr-top-10">
    <ion-list class="no-margin">
      <ion-list-header>
        <ion-label class="size-sm">集团领导</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>领导点评：</ion-label>
        <ion-textarea 
          rows="3" 
          cols="20" 
          clearOnEdit="true" 
          [(ngModel)]="group_leader_review_content" 
          placeholder="请输入...">
        </ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>布置任务：</ion-label>
        <ion-textarea rows="3" cols="20" clearOnEdit="true" [(ngModel)]="group_layout_task" placeholder="请输入..."></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-list class="no-margin">
      <ion-list-header>
        <ion-label class="size-sm">子集团领导</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>领导点评：</ion-label>
          <ion-textarea rows="3" cols="20" clearOnEdit="true" [(ngModel)]="sub_group_leader_review_content" placeholder="请输入..."></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>布置任务：</ion-label>
          <ion-textarea rows="3" cols="20" clearOnEdit="true" [(ngModel)]="sub_group_layout_task" placeholder="请输入..."></ion-textarea>
        </ion-item>
    </ion-list>
    <div class="text-right mr-top-5">
      <ion-button size="small" fill="outline" (click)="toSubmit()">
        提交
      </ion-button>
    </div>
  </div>
</ion-content>  
