<!-- <ion-header>
  <ion-toolbar color="lightPrimary">
    <ion-title>精益管理</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <app-business *ngIf="role == 'QYTBY'"></app-business>
  <app-business-leader *ngIf="role == 'QYBMLD' || role == 'QYFGLD'"></app-business-leader>
  <app-group *ngIf="role == 'JTYWBM'"></app-group>
  <app-group-leader *ngIf="role == 'JTLD'"></app-group-leader>
  <app-expert *ngIf="role == 'JTLD'"></app-expert> -->
  <app-sub-group-leader *ngIf="role == 'JTLD'"></app-sub-group-leader>
  <app-sub-group-business-unit *ngIf="role == 'JTLD'"></app-sub-group-business-unit>
</ion-content>
