<!-- <ion-header>
  <ion-toolbar color="lightPrimary">
    <ion-title>精益管理</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <app-business *ngIf="flag[0] == '0'"></app-business>
  <app-business-leader *ngIf="flag[0] == '1'"></app-business-leader>
  <app-group *ngIf="flag[0] == '2'"></app-group>
  <app-group-leader *ngIf="flag[0] == '3'"></app-group-leader>
  <app-expert *ngIf="flag[0] == '4'"></app-expert>
  <app-sub-group-leader *ngIf="flag[0] == '5'"></app-sub-group-leader>
  <app-sub-group-business-unit *ngIf="flag[0] == '6'"></app-sub-group-business-unit>

  <!-- <app-business></app-business> -->
  <!-- <app-business-leader></app-business-leader> -->
  <!-- <app-group></app-group> -->
  <!-- <app-group-leader *ngIf="flag"></app-group-leader> -->
  <!-- <app-expert></app-expert> -->
  <!-- <app-sub-group-leader></app-sub-group-leader> -->
  <app-sub-group-business-unit></app-sub-group-business-unit> 
</ion-content>
