<!-- <ion-header>
  <ion-toolbar color="lightPrimary">
    <ion-title>精益管理</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <app-business *ngIf="flag"></app-business>
  <app-business-leader *ngIf="flag"></app-business-leader>
  <app-group *ngIf="flag"></app-group>
  <app-group-leader></app-group-leader>
  <app-expert *ngIf="flag"></app-expert>
  <app-sub-group-leader *ngIf="flag"></app-sub-group-leader>
  <app-sub-group-business-unit *ngIf="flag"></app-sub-group-business-unit>
</ion-content>
