<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>案例分析详情</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="grey">
  <div class="section" *ngIf="case">
    <ion-item lines="none" class="item-title">
      <ion-label>
        <h2 class="mr-bottom-10">{{ case.title }}</h2>
        <p>填报单位：{{ case.publish_unit.name }}</p>
        <p>发布者：{{ case.publish_people.name }}</p>
        <p>发布时间：{{ case.publish_time }}</p>
        <p>关键字：{{ case.case_keyword }}</p>
      </ion-label>
    </ion-item>
  </div>
  <div class="section mr-top-10 no-padding-top" *ngIf="case">
    <div class="padding-top-10">
      <ion-segment [(ngModel)] = "caseTabValue" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="caseContent" checked>
          <ion-label>案例内容</ion-label>
        </ion-segment-button>
        <ion-segment-button value="caseAnalysis">
          <ion-label>案例分析</ion-label>
        </ion-segment-button>
        <ion-segment-button value="caseAttach">
          <ion-label>相关附件</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <div class="paragraph mr-top-10" *ngIf=" caseTabValue == 'caseContent'">
      {{ case.case_content }}
    </div>
    <div class="paragraph mr-top-10" *ngIf=" caseTabValue == 'caseAnalysis'">
      {{ case.case_analysis }}
    </div>
    <div *ngIf=" caseTabValue == 'caseAttach'">
      <ion-grid *ngIf="case && case.attachments && case.attachments.length > 0">
        <ion-row>
          <ion-col size="4" *ngFor="let item of case.attachments; let key = index">
            <div class="attach-item" (click)="download(item.id)">
              <ion-thumbnail slot="start">
                <img src="assets/attach.png">
              </ion-thumbnail>
              <ion-label class="attach-text">{{ item.name }}</ion-label>
              <ion-label class="attach-subtext">{{ item.size }}</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
