<ion-content class="grey" color="grey">
  <div class="mine-item padding-top-10 padding-bottom-5">
    <ion-grid fixed>
      <!-- 常用功能 -->
      <ion-row>
        <ion-col size="12"> <ion-label class="index-title-center text-center">常用功能</ion-label> </ion-col>
        <ion-col class="col-20 text-center ion-align-self-center" [routerLink]="['/expert-review']">
          <div class="mine-icon-circle bg-brightBlue">
            <ion-img class="mine-icon-img" src="./assets/expert.png" alt=""></ion-img>
          </div>
          <ion-label class="mine-icon-label">专家阅评</ion-label>
        </ion-col>
        <ion-col class="col-20 text-center ion-align-self-center" >
          <div class="mine-icon-circle bg-lightRed">
            <ion-img class="mine-icon-img" src="./assets/evaluation.png" alt=""></ion-img>
          </div>
          <ion-label class="mine-icon-label">企业自评</ion-label>
        </ion-col>
      </ion-row> 
      <!-- 企业自评评估统计 -->
      <ion-row>
          <ion-col size="12"> <ion-label class="index-title-center text-center">企业自评评价统计</ion-label> </ion-col>
          <ion-col size="4">
            <ion-item color="secondary">
              <ion-label text-wrap text-center style="height:72px;">
                  {{selfAccess.accessedNum}}家已自评
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="8">
            <ion-item class="margin-bottom-10" color="secondary">
              <ion-label text-center>
                最高达级：{{selfAccess.heighLevel}} ({{selfAccess.heighsum}})家
              </ion-label>
            </ion-item>
            <ion-item color="secondary" class="mr-top-5">
                <ion-label text-center>
                  最低达级：{{selfAccess.lowLevel}} ({{selfAccess.lowsum}})家
                </ion-label>
              </ion-item>
          </ion-col>
      </ion-row>
      <!-- 专家评估统计 -->
      <ion-row>
          <ion-col size="12"> <ion-label class="index-title-center text-center">专家评价统计</ion-label> </ion-col>
          <ion-col size="4">
            <ion-item color="primary">
              <ion-label text-wrap text-center style="height:72px;text-align:center;">
                {{selfCheck.checkedNum}}家已检查
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="8">
            <ion-item class="margin-bottom-10" color="primary">
              <ion-label text-center>
                最高达级：{{selfCheck.heighLevel}} ({{selfCheck.heighsum}})家
              </ion-label>
            </ion-item>
            <ion-item color="primary" class="mr-top-5">
              <ion-label text-center>
                最低达级：{{selfCheck.lowLevel}} ({{selfCheck.lowsum}})家
              </ion-label>
            </ion-item>
          </ion-col>
      </ion-row>
      <!-- 公告通知 -->
      <ion-row>
          <ion-col size="12"> <ion-label class="index-title-center text-center">公告通知</ion-label></ion-col>
          <ion-col size="12">
            <ion-slides #slide mode="ios" pager="ios" [options]="noticeOpts" [pager]="false" style="height:30px;">
              <ion-slide *ngFor="let item of slides; let key = index">
                  <ion-item class="full-width" [routerLink]="['notice/notices',item.id]">
                    <!-- <ion-label class="notice">通知</ion-label> -->
                    <ion-label style="font-size: 12px;">{{item.notice}}</ion-label>
                    <ion-note style="font-size: 12px;" slot="end">{{item.date}}</ion-note>
                  </ion-item>
              </ion-slide>
            </ion-slides>
          </ion-col>
      </ion-row>
      <!-- 亮点展示 -->
      <ion-row>
          <ion-col size="12"> <ion-label class="index-title-center text-center">亮点展示</ion-label> </ion-col>
          <ion-col size="6">
            <ion-item color="primary">
              <ion-label text-wrap text-center style="text-align:center;">
                子集团推荐
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="margin-bottom-10" color="secondary">
              <ion-label text-center>
                  集团推荐
              </ion-label>
            </ion-item>
          </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
