<ion-header>
    <ion-toolbar color="lightPrimary">
      <ion-buttons slot="start">
        <ion-back-button text="返回" icon="arrow-back"></ion-back-button>
      </ion-buttons>
      <ion-title>案例分析</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content color="grey">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="加载中..." refreshingSpinner="circles" refreshingText="刷新...">
      </ion-refresher-content>
    </ion-refresher>
    <ion-searchbar placeholder="请输入关键字" [debounce]="250" (ionInput)="getCases($event)" [(ngModel)]="title"></ion-searchbar>
    <ion-list lines="full" *ngIf="cases && cases.length > 0">
      <ion-item *ngFor="let item of cases; let key = index" detail [routerLink]="['./cases',item.id]">
        <ion-label>
          <h3><ion-text class="letter-spacing-2em">标题</ion-text>：{{ item.title }}</h3>
          <h3>填报单位：{{ item.publish_unit.name }}</h3>
          <h3><ion-text class="letter-spacing-05em">发布者</ion-text>：{{ item.publish_people.name }}</h3>
          <h3>发布时间：{{ item.publish_time }}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll threshold="30px" (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="加载更多...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <!-- 页面滑动加载完毕后提示 -->
    <div *ngIf="!hasMore" >
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-text color="dark">没有更多内容</ion-text>
        </ion-col>
      </ion-row>
    </div>
    <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button size="small" class="no-margin" [routerLink]="['./addCase']">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
  </ion-content>
  