<ion-header>
    <ion-toolbar color="lightPrimary">
      <ion-buttons slot="start">
        <ion-back-button text="返回" icon="arrow-back"></ion-back-button>
      </ion-buttons>
      <ion-title>案例分析</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content color="grey">
    <ion-searchbar placeholder="请输入关键字" [debounce]="250" (ionInput)="getCases($event)"></ion-searchbar>
    <ion-list lines="full">
      <ion-item *ngFor="let item of cases; let key = index" detail [routerLink]="['./cases',item.guid]">
        <ion-label>
          <h3><ion-text class="letter-spacing-2em">标题</ion-text>：{{ item.title }}</h3>
          <h3>填报单位：{{ item.unit }}</h3>
          <h3><ion-text class="letter-spacing-05em">发布者</ion-text>：{{ item.publisher }}</h3>
          <h3>发布时间：{{ item.publishTime }}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button size="small" class="no-margin" [routerLink]="['./addCase']">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
  