<ion-content class="grey" color="grey">
  <div class="mine-item bg padding-top-10 padding-bottom-5 no-padding">
    <div class="banner-content">精益管理信息化系统</div>
  </div>
  <!-- 常用功能 -->
  <div class="mine-item padding-bottom-5">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" class="title-pos"> 
          <ion-label class="mine-section-title">常用功能</ion-label> 
        </ion-col>
        <ion-col class="col-20 text-center ion-align-self-center" [routerLink]="['/leader-review']">
          <div class="mine-icon-circle bg-brightBlue" style="padding: 4px;">
            <ion-img class="mine-icon-img" src="./assets/leader-review.png" alt=""></ion-img>
          </div>
          <ion-label class="mine-icon-label">领导阅评</ion-label>
        </ion-col>
        <ion-col class="col-20 text-center ion-align-self-center" [routerLink]="['/view-self-assessment']">
          <div class="mine-icon-circle bg-orange">
            <ion-img class="mine-icon-img" src="./assets/view-self-evaluation.png" alt=""></ion-img>
          </div>
          <ion-label class="mine-icon-label">自评查看</ion-label>
        </ion-col>
        <ion-col size="3" class="text-center ion-align-self-center" [routerLink]="['/overall-evaluation']">
          <div class="mine-icon-circle bg-brightBlue" style="padding: 5px;">
            <ion-img class="mine-icon-img" src="./assets/overall-evaluation.png" alt=""></ion-img>
          </div>
          <ion-label class="mine-icon-label">综合评价</ion-label>
        </ion-col>
        <ion-col size="3" class="text-center ion-align-self-center" [routerLink]="['/internal-communication']" [queryParams]="{title:'内部交流'}">
          <div class="mine-icon-circle bg-orange" style="padding: 3px;">
            <ion-img class="mine-icon-img" src="./assets/internal-communication.png" alt=""></ion-img>
          </div>
          <ion-label class="mine-icon-label">内部交流</ion-label>
        </ion-col>
      </ion-row>  
    </ion-grid>
  </div>
  <!-- 企业自评达级 -->
  <div class="mine-item padding-bottom-5">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" class="title-pos"> 
          <ion-label class="mine-section-title">企业自评达级</ion-label> 
        </ion-col>
        <ion-col size="12" class="title-pos"> 
           <div id="main" style="height:200px;width:320px"></div>
        </ion-col>
      </ion-row>  
    </ion-grid>
  </div>
  <!-- 公告通知 -->
  <div class="mine-item padding-bottom-5">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12" class="title-pos"> 
            <ion-label class="mine-section-title">专家检查信息</ion-label> 
            <span class="more" [routerLink]="['/expert-review']">更多</span>
          </ion-col>
          <ion-col size="12"> 
            <ion-slides #slide class="noticeSlide" mode="ios" [options]="noticeOpts" [pager]="false" (ionSlideTouchEnd)="touchEnd()">
              <ion-slide *ngFor="let item of groupLeaderNotices; let key = index">
                  <ion-item class="full-width" [routerLink]="['/expert-review/expertBasicInfo',item.id]">
                    <ion-label style="font-size: 12px;">{{item.date}}</ion-label>
                    <ion-label style="font-size: 12px;" >{{item.unit}}</ion-label>
                    <ion-label style="font-size: 12px;" >达级：{{item.level}}</ion-label>
                  </ion-item>
              </ion-slide>
            </ion-slides>
          </ion-col>
        </ion-row>  
      </ion-grid>
    </div>
    <!-- 企业自评统计 -->
    <div class="mine-item padding-bottom-5 evaluation">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12" class="title-pos"> 
            <ion-label class="mine-section-title">企业自评评价统计</ion-label> 
          </ion-col>
          <ion-col size="4">
            <div class="mine-section linear-lightGreens" [routerLink]="['/view-self-assessment']">
                <p>{{selfAccess.accessedNum}}</p>
                <p>家已自评</p>
              <ion-img class="mine-icon-bg" src="./assets/company-assess.png" alt=""></ion-img>
            </div>
          </ion-col>
          <ion-col size="8">
            <div class="mine-section-item linear-lightGreen" [routerLink]="['/view-self-assessment']">
              最高达级：<span>{{ selfAccess.heighLevel }}</span> ({{selfAccess.heighsum}})家
            </div>
            <div class="mine-section-item linear-lightGreen" [routerLink]="['/view-self-assessment']">
              最低达级：<span>{{ selfAccess.lowLevel }}</span> ({{selfAccess.lowsum}})家
            </div>
          </ion-col>
        </ion-row>  
      </ion-grid>
    </div>
    <!-- 专家检查结果 -->
    <div class="mine-item padding-bottom-5 evaluation">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12" class="title-pos"> 
            <ion-label class="mine-section-title">专家检查结果</ion-label> 
          </ion-col>
          <ion-col size="4">
            <div class="mine-section linear-lightGreens" [routerLink]="['/expert-review']">
                <p>{{expertAssess.checkedNum}}</p>
                <p>家已检查</p>
              <ion-img class="mine-icon-bg" src="./assets/expert-review.png" alt=""></ion-img>
            </div>
          </ion-col>
          <ion-col size="8">
            <div class="mine-section-item linear-lightGreen" [routerLink]="['/expert-review']">
                最高达级：<span>{{ expertAssess.heighLevel }}级</span> ({{expertAssess.heighsum}})家
            </div>
            <div class="mine-section-item linear-lightGreen" [routerLink]="['/expert-review']">
                最近一次检查时间：{{ expertAssess.checkTime }}
            </div>
          </ion-col>
        </ion-row>  
      </ion-grid>
    </div>
    <!-- 亮点展示 -->
    <div class="mine-item padding-bottom-5 highlights">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12" class="title-pos"> 
            <ion-label class="mine-section-title">亮点展示</ion-label> 
          </ion-col>
          <ion-col size="6">
            <div class="mine-section mini linear-lightViolets" [routerLink]="['/show-highlight']" [queryParams]="{group_state:'group'}">
              <ion-row>
                <ion-col size="4">
                  <ion-img class="mine-icon-img" src="./assets/show-highlight.png" alt=""></ion-img>
                </ion-col>
                <ion-col size="8">集团推荐</ion-col>
              </ion-row>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="mine-section mini linear-lightViolet" [routerLink]="['/show-highlight']" [queryParams]="{group_state:'subGroup'}">
              <ion-row>
                <ion-col size="4">
                  <ion-img class="mine-icon-img" src="./assets/show-highlight.png" alt=""></ion-img>
                </ion-col>
                <ion-col size="8">子集团推荐</ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>  
      </ion-grid>
    </div>
  </ion-content>
  